/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

.kontejner > div {
  padding: 20px;
  font: 24px/1 sans-serif;
  color: white;
}

.kontejner > div > :first-child {
  margin-top: 0;
}

.kontejner > div > :last-child {
  margin-bottom: 0;
}

/* ---------------------------------------------------- */

/* Nastyluj jednotlivé bloky podle zadání na obrázku */

.kontejner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px auto auto auto 250px 100px;
  gap: 20px;
}

.logo {
  grid-column: 1;
  grid-row: 1;
  background-color: #55efc4;
}

.hlavicka {
  grid-column: span 2;
  grid-row: 1;
  background-color: #74b9ff;
}

.menu {
  grid-column: 1;
  grid-row: 2;
  background-color: #ff7675;
}

.clanek1 {
  grid-column: span 2;
  grid-row: span 2;
  background-color: #fdcb6e;
}

.clanek2 {
  grid-column: span 2;
  grid-row: 4;
  background-color: #a29bfe;
}

.reklama1 {
  grid-column: 1;
  grid-row: 3;
  background-color: #d63031;
}

.reklama2 {
  grid-column: 3;
  grid-row: 4;
  background-color: #00b894;
}

.foto1 {
  grid-column: 1;
  grid-row: 5;
  background-color: #e84393;
}

.foto2 {
  grid-column: 2;
  grid-row: 5;
  background-color: #e84393;
}

.foto3 {
  grid-column: 3;
  grid-row: 5;
  background-color: #e84393;
}

.paticka {
  grid-column: 1/-1;
  grid-row: 6;
  background-color: #636e72;
}
